.bx-authform-social ul {
    list-style: none;
}

.bx-authform-social ul li {
    display: inline-block;
}

.bx-authform-social ul li a.bx-authform-social-icon {
    display: inline-block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 7.0rem;
    padding: 1.2rem;
    margin: 0 .3rem;
    min-width: 7.0rem;
    background: #e30613;
    color: #fff;
    font-size: 4.0rem;
    text-align: center;
    text-decoration: none;
    transition: all 110ms ease;
}