<?php
    $text = \TAO::t('ajax_more_button');
    if (isset($args['button_text'])) {
        $text = $args['button_text'];
    }
?>

<div class="contest-more" style="width: 100%;text-align: center;">
    <button
            class="tao-ajax-more-button infoblock-<?= $code ?>-more-button"
            data-infoblock="<?= $code ?>"
            data-url="<?= $url ?>"
        <?= (isset($args['on_load'])? 'data-after="'.$args['on_load'].'"' : '') ?>
    ><?= $text ?></button>
</div>