<?php

CUtil::InitJSCore(array('ajax', 'popup'));
global $APPLICATION;
$oAuthManager = new CSocServAuthManager();
$arServices = $oAuthManager->GetActiveAuthServices([
    'BACKURL' => '/master/contest?scrollToContest=1'
]);
?>

<?php
print \TAO::infoblock('contest_winners')->render([
    'order' => array('SORT' => 'desc'),
    'per_page' => 3,
    'page' => 1,
]);
?>
<section class="section section-contest <?= $args['page_class'] ?>" id="section-contest">
    <h2 class="contest-title">Участники конкурса</h2>
    <div class="contest-toolbar">
        <div></div>
        <div>
            <button class="btn btn-large" onclick="openSendDialog()">Добавить свое видео</button>
        </div>
    </div>
    <?= $this->render($args) ?>
</section>
<div class="modal-box" id="login-modal" style="display: none;">
    <h3 class="modal-title">Войдите, чтобы оставить голос</h3>
    <span class="close" onclick="modalsService.getLoginModal().close()">×</span>
    <div style="text-align: center">
        <?php

        if (!empty($arServices)) {
            $arResult["AUTH_SERVICES"] = $arServices;
            if (isset($_REQUEST["auth_service_id"]) && $_REQUEST["auth_service_id"] <> '' && isset($arResult["AUTH_SERVICES"][$_REQUEST["auth_service_id"]])) {
                $arResult["CURRENT_SERVICE"] = $_REQUEST["auth_service_id"];
                if (isset($_REQUEST["auth_service_error"]) && $_REQUEST["auth_service_error"] <> '') {
                    $arResult['ERROR_MESSAGE'] = $oAuthManager->GetError($arResult["CURRENT_SERVICE"], $_REQUEST["auth_service_error"]);
                } elseif (!$oAuthManager->Authorize($_REQUEST["auth_service_id"])) {
                    $ex = $APPLICATION->GetException();
                    if ($ex)
                        $arResult['ERROR_MESSAGE'] = $ex->GetString();
                }
            }
        }
        $APPLICATION->IncludeComponent('bitrix:socserv.auth.form', 'flat2', [
            'AUTH_SERVICES' => $arResult["AUTH_SERVICES"],
            "POST" => $arResult["POST"],
            "POPUP" => "Y",
        ]);
        ?>
    </div>
</div>
<div class="modal-box" id="send-video-modal" style="display: none;">
    <h3 class="modal-title">Добавление видео</h3>
    <span class="close" onclick="modalsService.getSendVideoModal().close()">×</span>
    <div class="modal-form">
        <form>
            <div class="form-row">
                <div class="form-control">
                    <label class="form-label">Ваше имя и фамилия:</label>
                    <input type="text" placeholder="" name="NAME" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-control">
                    <label class="form-label">Ваш e-mail:</label>
                    <input type="email" placeholder="" name="EMAIL" required>
                </div>
                <div class="form-control">
                    <label class="form-label">Ваш телефон:</label>
                    <input type="text" placeholder="" name="PHONE" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-control">
                    <label class="form-label">Название видео:</label>
                    <input type="text" placeholder="О чем твой сюжет?" name="PREVIEW_TEXT" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-control">
                    <label class="form-label">Описание видео:</label>
                    <textarea placeholder="Почему именно ты должен стать следующим победителем?
Расскажи, в чем твое мастерство!" name="DETAIL_TEXT" required></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-control">
                    <label class="form-label">Ссылка на видео: <small>(На сервисе YouTube или ВКонтакте)</small></label>
                    <input type="text" placeholder="" name="VIDEO" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-control">
                    <div class="checkbox">
                        <label>
                            <span class="check"><input type="checkbox" required><i></i></span>
                            <span class="checkbox-title">Согласие на <a
                                        href="#">обработку персональных данных</a></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-control">
                    <div class="checkbox">
                        <label>
                            <span class="check"><input type="checkbox" required><i></i></span>
                            <span class="checkbox-title">Я принимаю правила участия в конкурсе</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="submit">
                <button class="btn" type="submit">Отправить</button>
            </div>
        </form>
    </div>
</div>
<div class="modal-box" id="video-sent-success-modal" style="display:none">
    <h3 class="modal-title"> Спасибо! </h3>
    <span class="close" onclick="modalsService.getVideoSentSuccessModal().close()">×</span>
    <p>Ваше видео отправлено на модерацию</p>
    <div class="submit">
        <button class="btn" onclick="modalsService.getVideoSentSuccessModal().close()">Закрыть</button>
    </div>
</div>
<div class="modal-box video-modal-box" id="video-view-modal" style="display:none;">
    <h3 class="modal-title"></h3>
    <span class="close" onclick="modalsService.getVideoViewModal().close()">×</span>
    <div class="video-box">
        <iframe src="" frameborder="0" style="width: 100%;height: 100%"
                allow="autoplay; picture-in-picture"></iframe>
    </div>
</div>
<style>
    #video-view.popup-window {
        padding: 0;
        background: none;
    }

    #video-view.popup-window {
        padding: 0;
        background: none;
        width: 95%;
    }

    #video-view.popup-window .popup-window-content {
        background: transparent;
    }
</style>
<script>

    function Modal(modalRef, name) {
        this._id = modalRef.id;
        this._name = name;
        this._modalRef = modalRef;
        this._popupRef = new BX.PopupWindow(name, window.body, {
            autoHide: true,
            offsetTop: 1,
            offsetLeft: 0,
            lightShadow: true,
            closeIcon: false,
            closeByEsc: true,
            overlay: {
                opacity: '80'
            }
        });
        this._popupRef.setContent(this.getModalElementRef());
    }

    Modal.prototype.show = function () {
        this._popupRef.show();
    };
    Modal.prototype.close = function () {
        if (this.beforeClose) {
            this.beforeClose();
        }
        this._popupRef.close();
    };
    Modal.prototype.adjustPosition = function () {
        this._popupRef.adjustPosition();
    };
    Modal.prototype.getModalId = function () {
        return this._id;
    };
    Modal.prototype.getModalElementRef = function () {
        return this._modalRef;
    };

    function ModalsService() {
        var initialized = new Map();

        function buildPopup(name, modalId) {
            var modal = new Modal(modalId, name);
            initialized.set(name, modal);
            return modal;
        }

        function getOrCreate(name, modalId) {
            if (!initialized.has(name)) {
                return buildPopup(name, modalId)
            }
            return initialized.get(name)
        }

        return {
            getLoginModal: function () {
                return getOrCreate('login', BX('login-modal'))
            },
            getSendVideoModal: function () {
                return getOrCreate('send-video', BX('send-video-modal'));
            },
            getVideoSentSuccessModal: function () {
                return getOrCreate('video-sent-success', BX('video-sent-success-modal'));
            },
            getVideoViewModal: function () {
                return getOrCreate('video-view', BX('video-view-modal'));
            }
        }
    }

    var modalsService = ModalsService();

    function view(url, title) {
        var modal = modalsService.getVideoViewModal();
        var iframe = modal.getModalElementRef().getElementsByTagName('iframe').item(0);
        var titleEl = modal.getModalElementRef().getElementsByClassName('modal-title').item(0);
        titleEl.innerText = title;
        iframe.src = url;
        modal.beforeClose = function () {
            iframe.src = '';
        };
        modal.show();
        modal.adjustPosition();

    }

    function vote(id) {
        $.post('/master/contest/' + id + '/vote').done(function ({status, success, data}) {
            if (!success) {
                if (status === 401) {
                    login();
                }
                return;
            }
            $('#item-' + id).replaceWith(data.element)
        })
    }

    function openSendDialog(event) {
        if (event) {
            event.preventDefault();
        }
        var modal = modalsService.getSendVideoModal();
        modal.show();
        var form = modal.getModalElementRef().getElementsByTagName('form').item(0);
        form.onsubmit = handleSubmitFactory(form);
    }

    function handleSubmitFactory(form) {
        var sending = false;
        return function handleSubmit(event) {
            event.preventDefault();
            if (sending) return;
            sending = true;
            $.post('/master/contest/video', $(form).serialize()).done(
                function (data) {
                    if (data.success) {
                        modalsService.getSendVideoModal().close();
                        modalsService.getVideoSentSuccessModal().show();
                    }
                    sending = false;
                }
            ).fail(function () {
                sending = false;
            })
        }
    }

    function login() {
        modalsService.getLoginModal().show();
    }
    <? if ($_GET['scrollToContest']):?>
    document.addEventListener('DOMContentLoaded', function () {
        console.log('load');
        document.getElementById('section-contest').scrollIntoView()
    });
    <? endif;?>
</script>