<article class="item" id="item-<?=$this->id()?>">
    <div class="inner">
        <div>
            <div class="thumb" onclick="view('<?=$this['EMBED_VIDEO']?>', '<?=$this->title()?>')">
                <div class="thumb-frame"
                     style="background-image: url(<?= $this->previewPicture()->url() ?>)"></div>
                <div class="name"><?= $this->title() ?></div>
                <div class="rating"><i class="fas fa-thumbs-up"></i> <span><?= $this->getVotesCount() ?></span></div>
                <div class="play"><i class="fas fa-play"></i></div>
            </div>
            <div class="item-descr">
                <h3><?= $this->fieldsData['PREVIEW_TEXT'] ?></h3>
                <p><?= $this->fieldsData['DETAIL_TEXT'] ?></p>
            </div>
        </div>
        <div class="action">
            <?php if (!$this->isVoted()): ?>
                <button class="btn" onclick="vote('<?=$this->id()?>')"><i class="far fa-thumbs-up"></i> Голосовать</button>
            <?php endif; ?>
        </div>
    </div>
</article>
