<section class="section section-winners full-height">
    <h2 class="winners-heading">Наши победители</h2>
    <div class="main-frame" id="winners-main-frame" data-id="<?= $items[0]->id() ?>">
        <?= $items[0]->render('main'); ?>
    </div>

    <div class="winners-nav" id="winners-nav">
        <?php foreach ($items as $item) print $item->render([
            'mode' => $itemMode,
            'active' => $item->id() === $items[0]->id()
        ]); ?>
        <?php if (count($items) < 4) : ?>
            <div class="add-new">
                <div class="title">
                    Ты можешь стать
                    следующим победителем!<br>
                    <a href="#" onclick="openSendDialog(event)">Дерзай!</a>
                </div>
            </div>
        <?php endif; ?>
    </div>

    <script>
        function selectWinner(el) {
            var mainFrame = document.getElementById('winners-main-frame');
            if (mainFrame) {
                if (mainFrame.dataset.id === el.dataset.id) return;
                $('#winners-nav .item').removeClass('active');
                $(el).addClass('active');
                $.get('/master/contest/winners/' + el.dataset.id).done(function (resp) {
                    mainFrame.dataset.id = el.dataset.id;
                    mainFrame.innerHTML = resp;
                })
            }
        }
    </script>
</section>