<div class="thumb" style="background-image: url(<?= $this->detailPicture()->url() ?>)"></div>
<div class="descr">
    <div class="name"><?= $this->title() ?></div>
    <div class="title"><?= $this['PREVIEW_TEXT'] ?></div>
    <?php if ($this['ACTIVE_FROM']) : ?>
        <div class="date"><?= FormatDate("f Y", MakeTimeStamp($this['ACTIVE_FROM'])); ?></div>
    <?php endif; ?>
</div>
<div class="play-block">
    <div class="play" onclick="view('<?= $this['VIDEO'] ?>', '<?= $this->title() ?>')">
        <i class="fas fa-play"></i>
    </div>
    <div class="play-label">Смотреть видео</div>
</div>