<div class="item <?= !empty($args['active']) ? 'active' : '' ?>" onclick="selectWinner(this)"
     data-id="<?= $this->id() ?>">
    <div class="thumb"
         style="background-image: url(<?= $this->previewPicture()->url() ?>)"></div>
    <div class="descr">
        <div class="name"><?= $this->title() ?></div>
        <div class="title"><?= $this['PREVIEW_TEXT'] ?></div>
        <?php if ($this['ACTIVE_FROM']) : ?>
            <div class="date"><?= FormatDate("f Y", MakeTimeStamp($this['ACTIVE_FROM'])); ?></div>
        <?php endif; ?>
    </div>
</div>